@{
    ViewData["Title"] = "Home page";
    string[] TableHeaders = new string[] {"Report no."
          ,"User id"
          ,"Time in seconds"
          ,"Mistakes made"
          ,"Level name"
          ,"Datetime"};
}



<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>

<div class="table">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                @{
                    foreach (var head in TableHeaders)   //dynamically creates the table headers
                    {
                        <th>
                            @head
                        </th>
                    }
                }
            </tr>
        </thead> @*Code to fetch data from db and fetch it to view*@

        <tbody>
            @{
                if (Model != null)
                {
                    foreach (var Data in Model)
                    {
                        <tr>
                            <td>@Data.Report_id</td>
                            <td>@Data.User_id</td>
                            <td>@Data.Time_seconds</td>
                            <td>@Data.Mistakes_count</td>
                            <td>@Data.Level_name</td>
                            <td>@Data.Creation_datetime</td>
                        </tr>
                    }
                }
            }
        </tbody>
    </table>
</div>
